

.chat-view {
    background-color: thistle;
    border-radius: 10px;
}

.chat-users {
    background-color: aliceblue;
    border-radius: 10px;
}

.chat-message {
    padding-left: 10px;
    margin-bottom: 5px;
}