<div class="container-fluid h-100">
  <div class = "row" >
    <div class ="col-8">
        <h3>Welcome to chat, {{sharedService.currentOnlineUser.username}}!</h3> 
    </div>
    <div class= "col-1">
      <button class="btn btn-outline-secondary" type="button" (click)="signOut()">Sign out</button>
    </div>

    <div class = "col-3">
        <h3>Currently in chat:</h3> 
    </div>
  </div>
  <div class="row h-100">
    <div  class="col-9 h-100">
      
      <div class="chat-view h-100">
          <p class="chat-message" *ngFor="let message of messages">
              <i>{{message.date}}</i> <b>[{{message.username}}]</b>: {{message.message}}
          </p>
      </div>
    </div>
    <div  class="col-3 h-100">
        
        <div class="chat-users h-100">
            <p class="chat-message" *ngFor="let user of loggedInUsers">
                {{user}}
            </p>
        </div>
    </div>
  </div>
  <div class="row mt-5">
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Your message" aria-label="Your message" aria-describedby="basic-addon2" [(ngModel)]="message">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="sendMessage()">Send</button>
          </div>
        </div>
  </div>

</div>


